uid = rsync
gid = rsync
pid file = /var/run/rsyncd.pid
lock file = /var/run/rsync.lock
log file = /var/log/rsync.log

[mysql]
path = /root/wuwei-docker/mysql/data/backup
read only = true
auth users = rsync
secrets file = /etc/rsyncd.secrets

[upload]
path = /data/upload
read only = true
auth users = rsync
secrets file = /etc/rsyncd.secrets

[record]
path = /data/record
read only = true
auth users = rsync
secrets file = /etc/rsyncd.secrets
